* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "FuturaBold";
    src: url("../fonts/Futura-Round-Font/FuturaRoundBold.ttf");
}
.futura-bold{
    font-family: "FuturaBold", sans-serif ;
}
.carouselFont{
    font-family: FuturaBold,sans-serif;
    font-size: 40px;
}

/* Le background qui slide */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    z-index: -1;
}
/* Header */
nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 12vh;
    color: white;
    align-items: center;
}

#logo {
    grid-column: 2/3;
}
.lettres {
    margin: 0;
    padding: 0;
    letter-spacing: -5px;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: #00ae4d;
}

.icone {
    cursor: pointer;
    justify-self: end;
    width: 40px;
}
/* L'image et le titre */
section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.banniere {
    height: 100%;
    width: 100%;
    /* flex-basis: 300px; */
    /* pour son after */
    position: relative;
}

/* la taille de l'image dans le conteneur section */
/* L'image a une marge naturelle sur les côtes car elle s'adapte aux
80vh de la section, qui est la hauteur de "banniere" */
.image {
    width: 100%;
    height: 692px;
    /* On redonne le bon ratio d'affichage en fonction de la hauteur et de la
    largeur, pour que ça rende bien */
    object-fit: cover;
}


.titre2{
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    z-index: 3;
    font-family: FuturaBold,sans-serif;
    text-transform: uppercase;
}
.description{
    margin: 0;
    padding: 0;
}

/* relatif à banniere, pour rajouter un filtre */
.banniere::after {
    content: "";
    background: #000;
    width: 100%;
    height: 692px;
    position: absolute;
    left: 0;
    top: 0;
    /* toussa pour ça je crois */
    opacity: 0.3;
}


/* Partie Menu */

.overlay {

    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 10;
    right: -300px;
    top: 0;
    background-color: #363533;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;

}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #00ae4d;
    display: block;
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: #297538;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.logoSmallScreen{
    display: none;
}

@media screen and (max-width: 1440px) and (max-height: 900px){
    nav {
        height: 5vh;
    }
    .image {
        height: 500px;
    }
    .banniere::after {
        height: 500px;
    }
    .titre2{
        font-size: 22px;
    }
}


@media screen and (max-width: 1366px) {
    nav {
        height: 5vh;
    }
    .image {
        height: 500px;
    }
    .banniere::after {
        height: 500px;
    }
    .titre2{
        font-size: 22px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape){
    nav {
        height: 5vh;
    }
    .image {
        height: 500px;
    }
    .banniere::after {
        height: 500px;
    }
    .titre2{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait){
    nav {
        height: 5vh;
    }
    .image {
        height: 500px;
    }
    .banniere::after {
        height: 500px;
    }
    .titre2{
        font-size: 12px;
    }
    .lettres {
        font-size: 40px;
    }
}

@media screen and (max-width: 896px) and (orientation: landscape){
    #logo{
        display: none;
    }
    .banniere {
        display: none;
    }
    .logoSmallScreen{
        display: block;
    }
    .imgLogoSmallScreen{
        width: 300px;
        height: 300px;
    }
    .icone{
        display: none;
    }
}

@media screen and (max-width: 500px){
    #logo{
        display: none;
    }
    .banniere {
        display: none;
    }
    .logoSmallScreen{
        display: block;
    }
    .imgLogoSmallScreen{
        width: 300px;
        height: 300px;
    }
    .icone{
        display: none;
    }
}



